  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    background: #849d8f;
    color: #ffffff;
  }
  .visibility-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  a {
    text-decoration: none;
  }
  .carousel img {
      width: 1045px;
      height: 881px;
  }
  .main-navigation a {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
  }
  .header-menu-catalog,
  .header-menu-delivery,
  .header-menu-company {
    border-radius: 15px;
    text-align: center;
    padding: 7px;
  }
  .header-menu-catalog:hover,
  .header-menu-delivery:hover,
  .header-menu-company:hover {
  background-color: rgb(247, 246, 243);
  color:#333333;
  text-decoration: none;
  }
  .header-menu-catalog:active,
  .header-menu-delivery:active,
  .header-menu-company:active {
   box-shadow: inset 0px 2px 1px 1px #696969;
  }
  .enter-menu a {
   font-size: 14px;
   font-weight: normal;
   line-height: 16px;
   color: #ffffff;
   border-radius: 15px;
   display: inline-block;
   background-color:  rgba(255,255,255, 0.2);
   padding: 7px 15px 7px 15px;
   border-radius: 15px;
   vertical-align: middle;
  } 
  .header-menu-catalog-submenu {
   visibility: hidden;
   background: white;
   border-radius: 10px;
   margin-left: 0;
   padding-left: 10px;
   padding-right: 10px;
 }
 .header-menu-catalog-submenu li:hover {
   background: #fbded7;
 }
 .header-menu-catalog-submenu li:active {
  background: #f6b5a5;
}

 .header-menu-catalog-submenu a {
   color: black;
   font-size: 14px;
   font-weight: normal;
   line-height: 16px;
   color: black;
   text-decoration: none;
  }
  .header-menu-submenu:hover .header-menu-catalog-submenu {
   visibility: visible;
   margin: 0;
  }
  .enter-form a:hover {
    color:#e84d37;
  }
  .enter-form-button-links p {
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  .enter-button > a::before {
    content:"";
    float: left; 
    width: 21px;
    height: 19px;
    padding-right: 5px;
    background: url('../img/enter.svg') 50% 50% no-repeat;
  }
  .enter-button > a:hover,
  .enter-search > a:hover,
  .enter-chart > a:hover {
    background-color:  rgba(255,255,255, 1);
    color: black;
  }
  .enter-form-links  {
    width: 150px;
    margin: 0;
  }
  .enter-form-links a {
    padding: 0;
  }
  .enter-button > a:hover::before {
    background: url('../img/enter-active.svg') 50% 50% no-repeat;
  } 

  .enter-search > a::before {
    content:"";
    float: left; 
    width: 21px;
    height: 19px;
    background: url('../img/Search-loupe.svg') 50% 50% no-repeat;
  }
  .enter-search > a:hover::before {
    background: url('../img/search-loupe-black.svg') 50% 50% no-repeat;
  }
  .enter-search a {
    padding: 7px;
  }
  .enter-chart > a::before {
    content:"";
    float: left; 
    width: 21px;
    height: 20px;
    padding-right: 5px;
    background: url('../img/chart_empty.svg') 50% 50% no-repeat;
  }
  .enter-chart > a:hover::before {
    background: url('../img/chart_empty-black.svg') 50% 50% no-repeat;
  }
  .footer-links a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
  }
  .footer-links a:hover,
  .footer-HTML-Academy a:hover {
    color: #ffbc9e;
  }
  .footer-HTML-Academy a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
  }
  .footer-links .bold {
    font-weight: bold;
  }
  .header-menu .bold {
    font-weight: bold;
  }
  .header-menu > li {
    display: inline-block;
    vertical-align: middle;
  }
  .header-menu-catalog-submenu {
    position: absolute;
  }
  .main-navigation li,
  .sales-hits li,
  .about-gllacy li,
  .carousel-img,
  .footer li,
  .catalog-ice-cream li,
  .main-path,
  .catalog-page-links,
  .footer-links ul {
      list-style: none;
  }
  .button {
        background: #ec593c;
        background: linear-gradient(to top, #e74b36, #f26843);
        text-align: center;
        padding: 7px 15px 7px 15px;
        border-radius: 20px;
        border: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        color: white;
        box-shadow:  0 2px 1px 0 #975a4b;
  }
  .button:hover {
    background: #f38367;
    box-shadow: inset 0 -2px 1px 0 #a23324;
  }
  .button:active {
    background: #ec593c;
    background: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 1px 0 #975a4b;

  }
  .offer-raspberries {
    width: 560px;
    height: 230px;
    background-color: #5b0a17;
    background-image: url('../img/offer-raspberries.jpg');
    box-sizing: border-box;
    padding: 19px;
    border-radius: 20px;
  }
  .offer-chocolate {
    width: 560px;
    height: 230px;
    background-color: #4a2e21;
    background-image: url('../img/offer-chocolate.jpg');
    box-sizing: border-box;
    padding: 19px;
    border-radius: 20px;
  }
  .offer-raspberries p,
  .offer-chocolate p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: white;
  }
  .offer-raspberries h3,
  .offer-chocolate h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .recipe-sherbet {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }
  .recipe {
    background-color: white;
    width: 560px;
    height: 220px;
    background-image: url('../img/strawberry_background.jpg');
    background-position: 18% 40%;
    border-radius: 20px;
  }
  .recipe-head {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: black;
    padding: 27px 0 5px 20px;
    margin: 0 0 0 0;
  }
  .recipe-sherbet p {
    display: inline-block;
    width: 281px;
    text-decoration: underline;
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
    vertical-align: middle;
  }
  .about-gllacy{
    height: 306px;
    width: 1145px;
    background-color: #eaddc2;
    background-image: url('../img/wafer.jpg');
    margin: 27px 27px 27px 27px;
    color: black;
    box-sizing: border-box;
    padding: 19px;
    border-radius: 20px;
  }
  .about-gllacy ul {
    padding: 0;
  }
  .about-gllacy p {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #323232;
  }
  .about-gllacy h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    color: #323232;
    margin: 0;
  }
  .about-gllacy .wafer::before {
    content:"";
    float: left; 
    width: 49px;
    height: 49px;
    padding: 5px;
    background-repeat: no-repeat;
  }
  .about-gllacy .icy::before {
    background-image: url('../img/wafer-icy.svg');
  }
  .about-gllacy .leaf::before {
    background-image: url('../img/wafer-leaf.svg');
  }
  .about-gllacy .cow::before {
    background-image: url('../img/wafer-cow.svg');
  }
  .about-gllacy .thermometer::before {
    background-image: url('../img/wafer-thermometer.svg');
  }
  .subscription{
    background-color: white;
    background: 
      url('../img/post_front.png') 50% 50% no-repeat,
      url('../img/post_background.png');
    width: 560px;
    height: 220px;
    margin-top: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 19px;
  }
  .subscription p {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #5a5a5a;
  }
  .subscription input {
    width: 367px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #d3d3d2;
  }
  .map-contacts {
      width: 302px;
      height: 305px;
      background: white;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 25px;
      position: relative;
  }
  .map-contacts p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
    margin: 0;
  }
  .map-contacts .contacts-strong {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #323232;
  }
  .map-contacts button {
    position: absolute;
    bottom: 25px;
  }
  .feed-back {
    width: 478px;
    height: 443px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
  }
  .feed-back h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #323232;
    display: inline-block;
    float: left;
    margin-top: 0;
    vertical-align: middle;
  }
  
  .feed-back .close-button {
    background: url('../img/Х-big.svg') 50% 50% no-repeat;
    width: 18px;
    height: 18px;
    border: none;
    display: inline-block;
    float: right;
    vertical-align: middle;
  }
  .feed-back input {
    width: 267px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .feed-back textarea {
    width: 428px;
    height: 155px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .enter-form {
    width: 313px;
    height: 252px;
    background-color: #f8f7f4;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
  }
  .enter-form a {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
    display: inline-block;
    text-decoration: underline;
    vertical-align: middle;
  }
  .enter-form  button {
    float: left;
  }
  .enter-form input {
    width: 241px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
  }
  .search-form {
    width: 341px;
    height: 84px;
    border-radius: 10px;
    background-color: #f8f7f4;
    text-align: center;
  }
  .search-form input {
    width: 311px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #c7c6c5;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
    margin: auto;
  }
  .search-form input:hover,
  .enter-form input:hover,
  .subscription input:hover,
  .feed-back input:hover,
  .feed-back textarea:hover {
    border: 1px solid #c7c6c5;
  }
  .search-form input:focus,
  .enter-form input:focus,
  .subscription input:focus,
  .feed-back input:focus,
  .feed-back textarea:focus  {
    border: 1px solid #8fbdec;
  }
  .footer-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    opacity: 0.8;
    vertical-align: middle;
    margin-left: 11px;
    box-shadow: 0 0 0 2px #c0cdc6;
  }
  .footer-social a:hover {
    opacity: 1;
  }
  .social-twitter {
    background: url('../img/twitter.svg') 50% 50% no-repeat;
              
  }
  .social-instagram {
    background: url('../img/isntagram.svg') 50% 50% no-repeat;
            
  }
  .social-facebook {
    background: url('../img/fb.svg') 50% 50% no-repeat;
              
  }
  .social-vk {
    background: url('../img/vk.svg') 50% 50% no-repeat;
            
  }
  .footer-social li {
    display: inline-block;
    vertical-align: middle;
  }
  .ice-cream-description {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: white;
    text-decoration: underline;
  }
  .ice-cream-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  .ice-cream-weight {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    color: white;
  }
  .carousel-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    color: white;
  }
  .header-phone {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  .contacts-strong {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  .basket {
    background: #f8f7f4;
    display:inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: black;
  }
  .basket table {
    border-bottom: 1px solid #c7c6c5;
  }
  .basket .close-button  {
    background: url('../img/Х-big.svg') 50% 50% no-repeat;
    width: 11px;
    height: 11px;
    border: none;
    display: inline-block;
    float: right;
    padding: 0;
    vertical-align: middle;
  }
  .icy_table-description {
    width: 220px;
    
  }
  .basket .basket-price {
    color: #999999;
  }
  .ice-cream-orange-mini {
    width: 33px;
    height: 33px;
    background: url('../img/icy_orange_small.png') 50% 50% no-repeat;
  }
  .ice-cream-strawberry-mini {
    width: 33px;
    height: 33px;
    background: url('../img/icy_strawberry_small.png') 50% 50% no-repeat;
  }
  .basket td {
    padding: 10px 10px 10px 10px;
  }
  .basket .sum-price {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    color: #323232;
    text-align: right;
  }
  .basket .button {
    float: right;
  }
  .enter-chart-full > a {
    background-color: rgba(255,255,255, 1);
    color: black;
  }
  .enter-chart-full > a::before {
    content:"";
    float: left; 
    width: 21px;
    height: 21px;
    margin-right: 7px;
    background: url('../img/chart_full.svg') 50% 50% no-repeat;
  }
  .main-path li {
    display: inline-block;
    vertical-align: middle;
   
  }
  .main-path a {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: white;
  }
  .main-path a:hover {
    color: #ffbc9e;
  }
  .main-path li:nth-child(1),
  .main-path li:nth-child(2) {
    text-decoration: underline;
  }
  .main-path li:nth-child(2)::before,
  .main-path li:nth-child(3)::before {
    content:"» ";
    text-decoration: none;
  }
  .catalog-h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    color: white;
  }
  .filters{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: white;
  }
  .filters-select {
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    border: 0px;
    color: white;
  }
  .filters-select option {
    color: black;
  }
  .filters-submit {
    background-color: rgba(255,255,255, 0.2);
    text-align: center;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: white;
  }
  .filters-submit:hover {
    background-color: rgba(255,255,255);
    color: black;
  }
  .filters-submit:active {
    background-color: rgba(234,234,234); 
    box-shadow: inset 0 2px 1px 0 #6a6b6a;
    border: 0;
  }
  .catalog-page-links li {
    display: inline-block; 
    vertical-align: middle;
    
  }
  .catalog-page-links a {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
  }
  .catalog-page-links a:hover {
    background-color: rgba(255,255,255, 0.2);
  }
  .catalog-page-links li:first-child a {
    background-color: rgba(255,255,255, 1);
    color: black;
  }
  .header-menu-catalog-selected {
    background-color: #d07058;
    border-radius: 15px;
    text-align: center;
    padding: 7px;
  }
  .ice-cream li {
    display: inline-block;
    width: 290px;
    vertical-align: middle;
  }
  .ice-cream li:hover {
    background-color: rgba(255,255,255, 0.2);
    border-radius: 10px;
  }
  .about-gllacy li {
    display: inline-block;
    width: 483px;
    vertical-align: middle;
  }
  .about-facts p {
    margin-top: 5px;
  }
  .special-offers div,
  .recipe,
  .subscription {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  } 
  .header-menu-catalog-submenu li:first-child {
    border-bottom: 1px solid gray;
  }
